// Navigation Styles here
nav{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-family: times new roman;

    a {
        margin-left: 25px;
        text-decoration: none;
        color: black;
        padding-top: 20px;
        margin-right: 130px;
        padding-bottom: 15px;
    }
}

.welcome-section {
    max-width: 800px;
    width: 100%;
    margin: auto;
    .welcome-bus{
        margin-top: 25px;
    }
}
